# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100

# Braces
BreakBeforeBraces: Allman      # Each brace on its own line
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Indentation
NamespaceIndentation: All
IndentCaseLabels: true
IndentGotoLabels: false

# Spaces
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesBeforeTrailingComments: 1
PointerAlignment: Left          

# Alignment
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignTrailingComments: true

# Other
SortIncludes: true

